github "ReactiveX/RxSwift" ~> 4.0
github "eggswift/ESTabBarController"
github "scenee/FloatingPanel" "master"
github "WorldDownTown/TapticEngine"
github "SwiftKickMobile/SwiftMessages"
github "hackiftekhar/IQKeyboardManager"
github "patchthecode/JTAppleCalendar" ~> 7.1
github "marcosgriselli/ViewAnimator"
github "piknotech/SFSafeSymbols" ~> 1.2.0
