//
//  Config.xcconfig
//  kashika
//
//  Created by 松本淳之介 on 2019/07/24.
//  Copyright © 2019 JunnosukeMatsumoto. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

LD_VERIFY_BITCODE__XCODE_PRODUCT_BUILD_VERSION_11M374r=NO
LD_VERIFY_BITCODE=$(LD_VERIFY_BITCODE__XCODE_PRODUCT_BUILD_VERSION_$(XCODE_PRODUCT_BUILD_VERSION))
